@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bellota:wght@700&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

body{
	background-color: rgba(0,0,0,0.9);
	margin: 0;
	padding: 0;
}

nav{
	position: fixed;
	background-color: black;
    transition: 5s;
	overflow-y: hidden;
}

nav button{
	padding: 0;
}

.navbar-brand{
	font-style: 'Anton',cursive;
	letter-spacing: 0.5px;
	color: white;
	margin: 0px;
	padding: 0px;
}

.navbar-brand img{
	width: 50px;
}


#navbarNav{
	justify-content: flex-end;
	transition: 1.5s;
}

.nav-link{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.dropdown-menu{
	background-color: white;
}

.dropdown-menu .dropdown-item{
	padding: 10px;
}

.dropdown-menu{
	flex-direction: column;
	text-align: center;
}

.side-icon{ 
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-icon img{
    width: 85%;
    border-radius: 50%;
    padding: 3px;
    margin: 5px;
}

.side-icon img {
	box-shadow: 0px 0px 4px black;
}

#mymain{
	width: 100%;
	position: fixed;
	bottom: 0;
    background-color: white;
}

#mymain-main{
    width: 16%;
	position: fixed;
    bottom: 0;
    background-color: white;
    border-radius: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
	text-align: center;
	padding: 10px;
	height: 100vh;
	margin-bottom: 50px;
}

.about h3{
	font-family: 'Bellota', cursive;
	color: white;
}

.about p{
	font-family: 'Lato', sans-serif;
	color: silver;
}

#follow-us{
	color: gold;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#follow{
	justify-content: space-around;
	margin: 10px;
}

#follow a{
	color: gold;
	margin: 10px;
}

#follow a i{
	width: 10px;
}

.copyright{
	background-color: white;
	border-top: 1px solid black;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-size: 10px;
}