@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bellota:wght@700&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

*{
	overflow-x: hidden;
}

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	margin: 0;
    padding: 0;
    background: linear-gradient(black,goldenrod);
}

.nav{
    background-color: black;
    display: flex;
    flex-direction: column;
}

nav{
	position: fixed;
	background-color: black;
	overflow-y: hidden;
}

nav button{
	padding: 0;
}

.navbar-brand{
	font-style: 'Anton',cursive;
	letter-spacing: 0.5px;
	color: white;
	margin: 0px;
	padding: 0px;
}

.navbar-brand img{
	width: 50px;
}

.login{
	color: gold;
}

#navbarNav{
	justify-content: flex-end;
	transition: 1.5s;
}

.nav-link{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.dropdown-menu{
	background-color: white;
}

.dropdown-menu .dropdown-item{
	padding: 10px;
}

#mymain{
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1;
	background-color: black;
}

.mysidebar {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.mysidebar a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 18px;
color: rgba(255,255,255,0.8);
display: block;
transition: 0.3s;
}

.mysidebar a:hover {
color: #f1f1f1;
}

.mysidebar .myclosebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.myopenbtn {
font-size: 20px;
cursor: pointer;
background-color: #111;
color: white;
border: none;
padding: 0;
}

.myopenbtn:hover {
background-color: #444;
}

#mymain {
transition: margin-left .5s;
display: flex;
justify-content: space-around;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.mysidebar {padding-top: 15px;}
.mysidebar a {font-size: 18px;}
}


.side-icon{ 
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 4px white;
}

.side-icon img{
    width: 25%;
    border-radius: 50%;
    margin-bottom: 5px;
    padding: 2px;
}

#total{
	margin-top: 50px;
	box-shadow: 0px 4px 10px rgba(255, 217, 0, 0.753);
	font-size: 20px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.74);
}

#total img{
	width: 25px;
}

#value{
	font-size: 25px;
}

table{
	margin-top: 20px;
	opacity: 0.8;
	box-shadow: 0px -5px 10px rgba(255, 255, 255, 0.521);
}

td img{
	width: 20px;
}
